@media screen and (max-width: 375px) {
  .caption h2 {
    font-size: 26px;
  }

  .caption p {
    font-size: 14px;
    padding: 15px 0;
  }

  .container {
    width: 90%;
    margin: auto;
  }

  .header .text h1 {
    font-size: 30px;
  }

  .header .text p {
    font-size: 14px;
  }

  .header .btns {
    display: flex;
    flex-direction: column;
  }

  .header .btns .btn1 {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .header .btns .btn2 {
    margin-left: 0px;
  }

  .section-one .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  .section-one .content .img {
    width: 100%;
  }

  .section-one .content img {
    margin-left: 0px;
    width: 100%;
  }

  .section-one .content .text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .section-one .content .text div {
    margin: 0;
    padding: 5px;
    text-align: center;
  }

  .section-one .content .text p {
    font-size: 14px;
    padding-left: 0;
  }

  .section-one .content .text h3 {
    font-size: 22px;
    padding-top: 30px;
  }

  .section-two .img img {
    width: 300px;
  }

  .section-two .img {
    margin-top: 40px;
  }

  .section-two p {
    padding: 15px 0;
  }

  .section-three .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    margin: 30px 0px;
  }

  .section-three .text div {
    padding-top: 30px;
  }

  .section-three .text img {
    width: 35px;
  }

  .section-three .img {
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
  }

  .section-three .img img {
    aspect-ratio: 3/1;
    margin: 30px;
  }

  .section-four .btns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .section-four .btns .btn1 {
    margin-right: 0px;
  }

  .section-four .btns .btn2 {
    margin-top: 20px;
    margin-left: 0px;
  }

  .footer {
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
    flex-direction: column;
  }

  .footer img {
    margin-top: 50px;
  }

  .footer .nav-bar ul {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .footer .nav-bar ul li {
    padding: 15px;
  }

  .footer .social-media {
    margin: 30px;
  }

  .footer .social-media i {
    padding: 15px;
    font-size: 20px;
  }
}
